.appLoader {
	position: fixed;
	top: 1rem;
	left: 50%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	transform: translateX(-50%);
	background-color: #fff;
	padding: 0.6rem 1rem;
	border-radius: 3px;
	color: var(--warning);
}

.appLoader__spinner {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border-left: 4px solid var(--warning);
	border-top: 4px solid var(--warning);
	margin-right: 1rem;
	animation: spin 0.4s linear infinite;
}


@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}