body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --app-bg: rgb(51, 51, 51);
  --warning: rgb(255, 153, 0);
  --muted: rgb(110, 110, 109);
  --danger: rgb(249, 117, 117);
  --success: rgb(2, 234, 2);
  
  background-color: var(--app-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
